@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

.body{
    margin: 10px 150px ;
    align-content: center;
}

@media screen and (max-width:1136px) {
    .body{
        margin: auto 50px;
    }
    
}

.container{
    display: grid;
    grid-template-rows:660px 660px;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap: 10px 0px;
    
}


 @media screen and (max-width:1136px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,660px);
    }
    
}



.side-l{
    background-color: #d8d8d8;
    padding: 10px;
    border-top-left-radius: 15px;

}



.p-1{
    margin-top: 3px;
}

.h3-2{
    font-size: 40px;
    text-align: center;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
    margin-bottom: 10px;
}

.p-2{
    margin-top: 3px;
}


.middle{
    background-image: url(./img/top-view-table-full-delicious-food-composition_23-2149141353.jpg);
    
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p1{
    text-align: center;
    align-content: center;
    color: white;
    font-family:'amiri',serif;
    font-size: 40px;
    background-color: #0000008c;
    border-radius: 20px  ;
}

.p3{
    margin-top: 20px;
    margin-bottom: 10px;

}

.text1{
    display: flex;
    flex-direction: column;

    text-align: center;
    align-content: center;
    color: white;
    font-family:monospace;
    font-size: 20px;
    background-color:#0000008c ;
    border-top-right-radius: 40px ;
    border-top-left-radius:40px; 
    background-size:contain;
    
    
    
}
.fa-solid{
    font-size: 15px;
    padding-left: 5px;
    align-items: c;
}

.img2{
    text-align: center;
    align-content: center;
    background-color:  #ffffff8c;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius:100px;
    
}

.side-r{
    background-color: #d8d8d8;
    padding: 10px;
    border-top-right-radius:15px ;
   
}

.h3-1{
    font-size: 40px;
    text-align: center;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
    margin-bottom: 10px;
}










.side-l2{
    background-color:#d8d8d8;
    padding: 10px;
    border-bottom-left-radius: 15px;
   
}

.middle2{
    background-color:#d8d8d8;
    padding: 10px;
}

.side-r2{
    background-color: #d8d8d8;
    padding: 10px;
    border-bottom-right-radius: 15px;
}

.h3-6{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.h3-7{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.h3-8{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.h3-9{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.contm{
    display: flex;
    
}

.in1{
    margin-right: 2px;
}

.in2{
    margin-left: 2px;
}

.ho1{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.ho2{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.ho3{
    font-size: 30px;
    text-align: right;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;
}

.ha1{
    text-align: center;
    font-size: 25px;
    background-color:darkgoldenrod;
    /* margin-left: 95px; */
    padding-right: 5px;
    border-radius: 10px;
    border: solid white;

}

.contn{
    display: flex;
}

.inv1{
    margin-right: 2px;
}

.inv2{
    margin-left: 2px;
}

p{
    margin-top: 3px;
}

.contk{
    display: flex;
}

.kosm-kda{
    margin-right:2px ;
}

.a7a{
    margin-left: 2px;
}

.a5555{
    display: flex;
}

.zobry1{
    margin-right: 2px;
}

.zobry2{
    margin-left: 2px;
}
